<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body class="bodybienvenido">
    <div class="error">
        <div id="tituloE">
            <h1>Accion Invalida</h1>
        </div>
        <a class="VolverMenu" href="{{url_for('inicio')}}" >Volver al Inicio</a>
    </div>
    
    <footer class="pie">
        Ramiro Elizondo - Octavio Garello - 2022 
    </footer>
</body>
</html>